.viewport {
  height: 40vh;
}

.parrafo {
  text-align: justify !important;
}

.asideImg {
  background-repeat: space;
}


.bg-body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png");
  background-repeat: repeat; /* Opciones: repeat, repeat-x, repeat-y, no-repeat */
}
.bg-banner {
  background-image: url("img/banner2.jpg");
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.banner-autor {
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);  
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.bg-autor-active:hover{
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);  
}

.lg-1 {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.btn-ig
{
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
}


/* Estilos personalizados para Historias */
.bg-historia-banner {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.bg-personaje {
  background-image: url("img/bg-personajes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.bg-img {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.bg-header
{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.text-titulo
{
  font-size: 3.5rem !important;
}

.feedback
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
