.viewport {
  height: 100vh;
}

.parrafo {
  text-align: justify !important;
}

.asideImg {
  background-repeat: space;
}

.bg-img {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png");
  background-repeat: repeat; /* Opciones: repeat, repeat-x, repeat-y, no-repeat */
}
.bg-banner {
  background-image: url("img/banner2.jpg");
  background-blend-mode: screen;
  background-size: cover; /* Opciones: repeat, repeat-x, repeat-y, no-repeat */
  height: 50vh;
}

.lg-1 {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.btn-ig
{
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
}
